:root {
    --primary-black-color: #212121;
    --primary-text-color: #757575;
    --primary-white-color: #ffffff;

    --accent-color: #2196f3;
    --background-black: #21303a;
    --background-gray: #f5f4fa;
    --button-filter: #f5f4fa;
    --button-primary-hover: #188ce8;
    --logo-black: #000000;
    --text-white-opacity: #ffffff99;

    --container-padding: calc((100% - 1200px) / 2);
}
@media (max-width: 600px) {
    header {
        flex-direction: column;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

body {
background-color: var(--primary-white-color);
    
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.content {
    align-items: center;
    background-color: var(--primary-black-color);
    color: var(--background-gray);
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: center;
    box-shadow: 0px 4px 4px var(--logo-black);
}

.navbar {
    background-color: var(--primary-white-color);
    display: flex;
    height: 70px;
    padding: 10px;
    /* flex-direction: column;*/
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: var(--accent-color);
        font-family: "Raleway", sans-serif;
        font-size: 26px;
        font-weight: 700;
        line-height: 1.2;
        text-decoration: none;
}

.page-name {
    background-color: (--accent-color);
    font-size: 26px;
    left: 215px;
    top: 2218px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    text-decoration: none;
    font-weight: 700;
    line-height: 31px;
    /* identical to box height */
    text-align: right;
    /* identical to box height */
    width: 145px;
    letter-spacing: 0.03em;
}

.logo img {
    height: 50px;
}

.article-title {
    font-size: 44px;
    width: 696px;
    height: 120px;
    text-transform: uppercase;
    text-align: center;
    color: var(--primary-white-color);
}

.main-button {
    background-color: var(--accent-color);
        color: var(--primary-white-color);
        font-size: 16px;
        font-weight: 700;
    
        border: none;
        outline: none;
        text-transform: capitalize;
        padding: 10px 20px;
}

a {
    text-decoration: none;
    color: var(--primary-black-color);
}
.nav-link{
    color: var(--primary-white-colo);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.4;
        letter-spacing: 0.02em;
        text-decoration: none;
}

nav a {
    font-weight: 600;
    padding-right: 100px;
}

nav a:hover {
    color: var(--accent-color);
}

#label__check {
    width: 50px;
    height: 100%;
}

#check__menu {
    width: 50px;
    display: none;
}

#check__menu:checked~a {
    color: var(--accent-color);
}

footer {
    background-color: var(--primary-black-color);
    height: 250px;
    margin-bottom: 0;
}

address {
    width: 231px;
    margin-left: 100px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    color: var(--background-gray);

    letter-spacing: 0.03em;
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    background-color: var(--primary-white-color);
}



.main-content ul {
    list-style: none;
    
}

.main-content-title {
    background-color: var(--primary-white-color);
    width: 270px;
    height: 16px;
    left: 215px;
    top: 775px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    
}

.main-content-text {
    width: 270px;
    height: 75px;
    left: 215px;
    top: 801px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.our-job-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: 100px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primary-black-color);
    
}

.img-content {
    margin-right: 50px;
}

.team-img {
    height: 260px;
}

.team-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team-card {
    box-shadow: 1px 2px 5px 1px var(--background-gray);
    border-radius: 5px;
    margin-right: 30px;
    margin-bottom: 100px;
}

.team-name {
    font-weight: bold;

    display: block;

    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primary-black-color);
}

.team-job {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
}

.product-cards {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-category {
    height: fit-content;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.category-card {
    font-weight: 500;
    background-color: var(--background-gray);
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 1px 1px var(--background-gray);
    border-radius: 5px;
    margin-right: 30px;
    width: fit-content;
    height: 38px;
    padding-left: 1%;
    padding-right: 1%;
}

.category-card:hover {
    box-shadow: 3px 3px 3px 3px var(--background-gray);
    background-color: var(--accent-color);
    color: var(--background-gray);
    cursor: pointer;
}

.portafolio-content {
    margin-top: 80px;
    margin-left: 250px;
    width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portafolio-content ul li {
    list-style: none;
}

.product-name {
    margin-left: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: var(--primary-black-color);
}

.category-text {
    margin-left: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */

    letter-spacing: 0.03em;

    color: var(--primary-text-color);
}

article ul li figure {
    box-shadow: 1px 1px 1px 1px var(--background-gray);
    border-radius: 5px;
    margin-right: 30px;
    margin-bottom: 100px;
    width: 370px;
    height: 404px;
}

article ul li figure:hover {
    box-shadow: 2px 3px 6px 2px var(--background-gray);
}